@import "imports"
@import "variables"
@import "mixins"
@import "fontawesome/font-awesome"
@import '../fonts/stylesheet.css'

+sticky-footer(180px, "#layout", "#layout-footer", "footer")

body
	font-family: "arian_amu", "Arian AMU", "Arial AMU", "Arial Unicode", "Tahoma Armenian", "Sylfaen", "sans-serif" !important
	font-size: 13px

.wrapper
	width: 90%
	max-width: 1200px 
	margin: auto 

.transition
	+transition-property(all)
	+transition-duration(0.3s)
.title
	color: $dark-gray !important
header
	margin-bottom: 25px
	#top
		border-bottom: 1px solid #E2ECF9
		padding: 10px 0
		+clearfix 
	.fixed
		background: rgba(255, 255, 255, 0.82)
		position: fixed
		z-index: 90
		padding: 14px 0
		width: 100%
		+box-shadow(0 1px 5px rgba(0,0,0,0.17))
		.logo 
			img
				width: 185px
		#menu 
			li
				a
					padding: 0 6px 4px
					text-transform: uppercase
					+transition-property(all)
					+transition-duration(0.2s)
					span
						font-size: 14px 
						font-weight: bold
					&.home
						i
							background: $icons
							display: inline-block
							+sprite-dimensions($icons, home)
							background-position: +sprite-position($icons, home)
					&.about 
						i
							background: $icons 
							display: inline-block
							+sprite-dimensions($icons, about)
							background-position: +sprite-position($icons, about)
					&.contacts
						i
							background: $icons
							display: inline-block
							+sprite-dimensions($icons, contacts)
							background-position: +sprite-position($icons, contacts)
				&:hover, &.active
					a
						border-bottom: 2px solid $red 

	.top-banner
		position: relative
		background: image-url('placeholders/bg_slide.jpg') no-repeat 
		height: 600px
		.title-wrap
			position: absolute
			top: 193px
			div
				font-size: 60px
				color: #fff
			p
				color: #fff
				font-size: 20px 
				margin-top: 8px
		.map
			position: absolute
			right: 110px
			top: 107px

		.add
			position: absolute
			bottom: 0
			a
				padding: 11px 44px 11px 54px !important
				font-size: 16px !important
				+transition-property(all)
				+transition-duration(0.4s)
				&:hover
					background: #FFFFFF !important
					color: $red !important
					border: 1px solid
					i
						color: $red !important
			p
				float: left
				font-size: 24px
				color: #D72448
				margin-top: 10px
			hr
				border-color: #D72448
				margin-top: 22px !important
				width: 540px
				float: left
				margin-left: 20px
				margin-right: 30px





#sequence 
	margin-bottom: 25px	

.left-menu
	li
		float: none !important
		width: 40px 
		+transition-property(width)
		+transition-duration(0.3s)
	&.nav-tabs
		border-bottom: none !important
		li
			margin-bottom: 1px
			&.red
				border-left: 4px solid $red
				&:hover, &.active
					background: $red
					a
						color: #fff
						background: none !important
			&.yellow
				border-left: 4px solid $yellow
				&:hover, &.active
					background: $yellow
					a
						color: #fff
						background: none !important
			&.green
				border-left: 4px solid $green
				&:hover, &.active
					background: $green 
					a
						color: #fff
						background: none !important
			&.blue
				border-left: 4px solid $blue
				&:hover, &.active
					background: $blue
					a
						color: #fff
						background: none !important 
			a
				border-radius: 0
				border: none
				width: 185px
				color: $dark-gray

			&:hover
				width: 100% 

			&.active
				border: none
				width: 100%
				a
					border: none !important

			a:hover
				border: none
				background: none !important
				
#language-select
	position: absolute
	li
		cursor: pointer
		a
			img
				margin-top: -3px

#searchInputDiv
	height: 30px
	margin-left: 20px
	margin-right: -20px 
	input
		-moz-border-radius: 20px
		-webkit-border-radius: 20px
		border-radius: 20px
		border: 1px solid $red
		width: 300px
		margin-right: 5px
		height: 100%
		padding-left: 10px 
		outline: none

.list-view-options
	border-bottom: 1px solid #DFDFDF
	padding-bottom: 5px
	+clearfix
	select
		background: #F5F5F5
		height: 25px
		display: inline-block
		width: auto

	.sorter	
		span
			line-height: 25px
			margin-right: 8px!important 
			margin-top: -2px
		ul
			float: left
			li
				float: left
				margin-right: 5px

				a
					background: darken($lighten-gray, 3%)
					padding: 4px 10px
					display: block
					font-size: 12px
					color: $gray
					font-weight: normal
					+border-radius(6px)
					&:hover
						background: darken($lighten-gray, 6%)
					&.asc, &.desc
						&:after
							top: 2px

	.page-view
		float: right
		+clearfix
		a
			color: $gray
			font-size: 18px
			line-height: 25px
			margin-left: 3px	
			&:hover
				color: darken($gray, 10%)
			&.active
				color: $red

ul.item-list
	$p1: 1%
	+clearfix
	+horizontal-list ($p1)
	&.blocks
		li
			margin-bottom: 65px
	&.most
		li
			width: 32% !important		
	&.filters
		li    
			$width: (100% - 4 * $p1) / 3 
			width: $width
			&:nth-child(3n)
				padding-right: 0
			&:nth-child(4n)
				padding-left: 0
			div
				img
					border: 1px solid $main-gray
				div.user-toolbar
					bottom: 0 !important
				a.quick-view
					top: 42%    
					border-color: transparent
			
			div.right
				position: relative
				height: 148px
				h3
					font-family: 'Andale Mono'
					margin-top: 0
					font-size: 18px
					margin-bottom: 14px
				.btn
					width: 80%
					position: absolute
					bottom: 0
					left: 16px
	li
		padding-left: 0px !important
		>div
			a.quick-view
				+opacity(0) 
				-webkit-transform: scale(0.0)
				+transition-property(all)
				+transition-duration(0.2s)
				&.small
					left: 14%

			.bottom
				border-top: 1px solid $main-gray
				padding: 5px

		&:nth-child(5n)
			padding-right: 0
		&:nth-child(6n)
			padding-left: 0
		.view-back
			background: white
			span
				color: #ACACAC
		.infoPart
			position: absolute
			width: 100%
			text-align: center
			bottom: -68px
		&:hover
			div.user-toolbar
				display: block

			a.quick-view	
				color: #ACACAC 			
				border: 2px solid #ACACAC
				-webkit-transform: scale(1.1)
				+opacity(1) 

ul.item-list-descr  
	li
		margin-bottom: 15px
		height: 150px
		padding: 7px
		border: 1px solid #eae9e6
		+transition-property(all)
		+transition-duration(0.3s)
		&:hover
			.user-toolbar 
				display: block
		a.col-md-3
			height: 160px
			img
				margin-top: 15px		
		h2
			a
				color: $blue !important
				&:hover
					color: darken($blue, 5%) !important
					text-decoration: underline !important
		>a
			border: 1px solid #E2E2E2
			background: #fff
			+transition-property(all)
			+transition-duration(0.2s)
			img
				width: 100%

		>div
			height: 135px
			.user-toolbar   
				margin-left: 15px
				width: 98%
				position: absolute
				bottom: -24px
				left: 0
				+box-sizing(border-box)
				a
					&:hover
						color: darken($gray, 40%) !important
					&:last-child
						float: right
						&:hover
							color: white !important     

	
		.fastView
			display: bock
			font-size: 18px
			color: rgba(102, 132, 138, 0.5)
			position: absolute
			right: 50px
			bottom: 60px
			border: 2px solid rgba(102, 132, 138, 0.5)
			border-radius: 50%
			width: 30px
			height: 30px
			line-height: 22px
			text-align: center
			font-weight: 700
			+transition-property(all)
			+transition-duration(0.3s)
			a
				color: rgba(102, 132, 138, 0.5)
				position: relative
				top: 1px 

		&:hover
			border: 1px solid $main-gray 
			.fastView  
				-webkit-transform: scale(1.2) 
				filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false) 
				opacity: 1 
				color: $main-gray
				border: 2px solid $main-gray
				a
					color: $main-gray


#advert-gallery
	div.full-image
		width: 430px
		margin-right: 20px
		float: left
	#small-images
		margin-top: 10px
		width: 450px
		height: 60px
	#big-image
		>a
			display: block
			position: relative
	.item-info
		color: #6B6868
		.secondBlock 
			height: 35px 
			border-top: 1px solid #E1E3E3
			border-bottom: 1px solid #E1E3E3
			color: #145C8C
		.secondBlock
			.rightBorder
				border-right: 1px solid #99968e
				height: 15px
		.therdBlock
			position: relative
			height: 173px
			line-height: 200%
			border-bottom: 1px solid #99968e 
			.phone
				color: $red
				font-size: 18px
				position: absolute
				right: 0
				bottom: 10px

	
	
//////form elements
body
	.filter-block
		.grid-title
			h4
				font-size: 18px
				margin-bottom: 10px
		.grid-body
			.inputStyler-wrap 
				.inputStyler-viewWrap
					height: 35px !important
					line-height: 29px !important
					border: 1px solid transparent !important
					border-bottom: 1px solid #B1B6B7 !important
					box-shadow: none !important
					input
						padding: 2px 6px
						height: 100%
						&:focus
							box-shadow: none !important
							border-bottom: 1px solid #798689 !important 
					.inputStyler-view
						font-size: 14px

			// type ////////////////////////////////////////////////
			.type
				.selectStyler-wrap.small 
					.selectStyler-view
						border-bottom: 1px solid $blue !important
						color: $blue
						&:after
							color: $blue !important
						&:hover
							border-bottom: 1px solid $blue !important
							&:after
								color: $blue !important
						button
							span
								color: $blue !important	
								font-weight: 600
					.selectStyler-listWrap
						&:after
							color: $blue
										
			.selectStyler-wrap.small 
				.selectStyler-view
					height: 35px !important
					width: 100% !important
					border: 1px solid transparent !important 
					border-bottom: 1px solid #B1B6B7 !important
					box-shadow: none !important
					&:hover
						border-bottom: 1px solid #798689 !important
						&:after
							color: #798689 
					&:after
						content: "\f0d7"
						font-family: fontawesome
						position: absolute
						right: 5px
						top: 0
						line-height: 26px
						color: #B1B6B7
						font-size: 14px
						background: #fff
						padding: 5px
						height: 100%
						cursor: pointer
					button
						font-size: 14px !important

				.selectStyler-listWrap
					.data-empty-attr
						color: #B1B6B7
						&:hover
							color: #798689 
					ul
						li:hover
							background: $blue !important


// price-slider
.slider-selection
	background: $blue
.slider.slider-horizontal .slider-track 
	height: 6px
.slider-handle
	width: 16px
	height: 16px


.btn
	+border-radius(3px)
	padding: 6px 26px
	&.btn-icon
		padding: 6px 14px 6px 18px
		i
			margin-left: 15px
		&.bg-blue
			i
				color: darken($blue, 15%) !important
		&.bg-red
			i
				color: darken($red, 15%) !important

#top-search
	position: relative
	height: 35px
	display: none
	a
		position: relative
		right: 35px
		top: 1px
		font-size: 18px
.title
	margin-bottom: 10px
	font-size: 20px
	color: $gray
	a
		color: $blue	

.hits
	.nav-tabs
		border-bottom: 2px solid #ddd
		li
			margin-right: 9px
			min-width: 11%
			text-align: center
			a
				border: none !important
				margin-right: 0
				font-size: 14px
				&:hover
					border: none !important
					background: none !important
					color: darken($gray, 15%)
					i
						color: #828b8c !important
		li.active
			border-bottom: 2px solid $blue
			// border-left: 1px solid #ddd
			// border-right: 1px solid #ddd
			cursor: pointer
			margin-bottom: -2px
			a
				border: none !important
				&:hover
					border: none !important
					background: #fff !important
	.tab-content
		border: 1px solid #DDD
		border-top: 0

#myTabContent
	ul.item-list
		$p1: 1%
		+clearfix
		+horizontal-list ($p1)
		li
			padding-left: 0px !important
			$width: (100% - 8 * $p1) / 5
			width: $width !important
			+box-sizing(content-box)
			>div
				border: 1px solid transparent
				position: relative
				+border-radius(3px)
				+transition-property(all)
				+transition-duration(0.2s)
				+clearfix
				a
					display: block 
					img
						width: 100%
			&:hover
				border: 1px solid #ccc
				div.user-toolbar
					display: block

				a.quick-view				
					-webkit-transform: scale(1.1)
					+opacity(1)

section.item 
	div.gallery
		width: 34%
		position: relative
		float: left
		margin-right: 25px
		a.big
			width: 409px
		&:hover
			.carousel-wrapper
				ul.small-img, a.glass
					display: block !important
			a.arrow-right,.arrow-left
				display: block !important					
		a.arrow-right
			display: none
			background: rgba(225, 225, 225, 1)
			height: 52px
			position: absolute
			margin-top: 21px	
			margin-left: 8px	
			color: #A3A0A0
			right: -21px
			bottom: 0
			width: 25px	
			i 
				margin-top: 20px
				margin-left: 7px
		a.arrow-left
			display: none
			background: rgba(225, 225, 225, 1)
			height: 52px
			position: absolute
			margin-top: 21px	
			margin-left: 8px	
			color: #A3A0A0 
			left: -7px
			bottom: 0
			width: 25px	
			i 
				margin-top: 20px
				margin-left: 10px			
		a.big
			border: 1px solid $main-gray
			display: inline-block
			img
				width: 100%
		.carousel-wrapper	
			width: 408px !important
			position: absolute
			top: 224px
			ul.small-img
				display: none
				background: rgba(225, 225, 225, 0.8)
				padding: 5px 10px
				width: 100%
				height: 52px
				+clearfix
				li
					float: left   
					margin-right: 8px
					&:last-child
						float: right
						a
							font-size: 25px
							margin-top: 8px
							color: #B8B8B8
							border: none
							&:hover
								color: darken(#B8B8B8, 10%)
					a
						display: block
						border: 1px solid darken($main-gray, 5%)
						+border-radius(4px)
						overflow: hidden
						img
							width: 60px
						&:hover
							border-color: darken($main-gray, 20%)
							+opacity(0.9)

		a.glass
			display: none
			position: absolute
			top: 0
			right: 0
			background: $lighten-gray
			color: lighten($gray, 20%)
			border: 1px solid $main-gray
			padding: 8px 10px
			font-size: 20px
			+border-bottom-left-radius(4px)
			&:hover
				color: $gray

	div.item-info
		float: left
		width: 670px 
		height: 273px
		h2
			font-size: 18px
			color: $gray
			margin-top: 0

		p 
			color: lighten($gray, 20%)
			margin-bottom: 20px


		ul.info
			float: left
			+clearfix
			li
				float: left
				margin-right: 5px
				color: lighten($gray, 20%)
				font-size: 12px
				&:after	
					content: "|"
					padding-left: 5px
				&:last-child:after
					content: ""
				a
					color: lighten($gray, 20%)
					&:hover
						text-decoration: underline !important
						color: darken($gray, 25%)


		p.color
			padding-top: 3px
			a
				border-radius: 4px
				border: 1px solid transparent
				cursor: pointer
				color: $gray

		.quantity
			span
				line-height: 32px
			input
				width: 50px !important
				height: 32px !important
				float: left !important
				text-align: center
				border: 1px solid $main-gray !important
				+border-radius(0 !important) 

			a
				border: 1px solid $main-gray
				display: block
				text-align: center
				color: $gray
				font-size: 8px
				padding: 3px 6px
				&:hover
					background: $main-gray
#item-modal
	.modal-title
		font-size: 18px
		color: #807d74

footer 
	height: inherit !important
	top: 50px
	.footer
		// background: rgba(234, 233, 230, 1)
		height: inherit !important
		.subscribe
			background: $blue
			padding: 10px
			.footer-wrap
				width: 795px
				margin: auto
				position: relative
				left: -30px
				span
					font-size: 21px
					text-transform: uppercase
					color: #FFFFFF
					font-weight: bold
					&:before
						content: "\f003"
						font-family: fontawesome
						font-size: 57px
						color: #17669B
						float: left
						margin-top: -10px
						margin-right: -26px
					span
						color: #2E3C3F
						&:before
							content: ""
				.input
					position: relative
					input
						&[type="text"]
							background: #fff
							height: 40px
							width: 300px
							padding: 10px
							&:focus
								outline: none
								border: none
					.send
						position: absolute
						background: #303E41
						color: #fff
						top: 0
						right: 0
						height: 100%
						width: 44px
						text-align: center
						&:before
							z-index: 0
							content: ""
							position: absolute
							top: 0
							bottom: 0
							left: -13px
							display: block
							width: 26px
							cursor: pointer
							background: $dark-gray
							-webkit-transform: skew(30deg)
							-ms-transform: skew(30deg)
							transform: skew(30deg)

						&:after
							content: "\f1d8"
							font-family: fontawesome
							color: rgba(255, 255, 255, 0.84)
							display: inline-block
							margin-top: -26px
							margin-left: -5px 
							cursor: pointer

						input
							height: 100%
							width: 100%
							cursor: pointer
							&:focus
								outline: none



				
		p
			line-height: 22px
		.wrapper
			padding: 25px 0
			.social
				li
					float: left
					margin-right: 10px
					a
						border-radius: 100%
						color: #2E3C3F
						border: 2px solid #2E3C3F
						width: 30px
						height: 30px
						text-align: center
						display: inline-block
						font-size: 16px
						padding: 6px
						+transition-property(all)
						+transition-duration(0.2s)
						&:hover
							background: $blue
							color: white
							border: 2px solid $blue
	.copyright
		border-top: 1px solid rgba(46, 60, 63, 0.22)
		padding: 12px 0
		text-align: center

.page-info
	overflow: hidden
	margin-bottom: 20px
	.breadcrumbs
		li
			float: left
			margin-right: 10px
			a 
				color: #99968e
				font-size: 13px
			&:after
				content: "\f0da"
				font-family: FontAwesome
				margin-left: 10px
				font-size: 11px
				color: lighten($gray, 10%) 
			&:last-child
				&:after
					content: "" 
.itemSocial
	li
		float: left
		margin-right: 5px 
		a
			border-radius: 100%
			color: #2E3C3F
			border: 2px solid #2E3C3F
			width: 30px
			height: 30px
			text-align: center
			display: inline-block
			font-size: 16px
			padding: 6px
			+transition-property(all)
			+transition-duration(0.2s)
			&:hover
				background: $blue
				color: white
				border: 2px solid $blue

dl, dt, dd, ul, ol, li
	list-style: none

.accordion 
	dt
		position: relative
		margin-top: 10px
		padding-left: 35px
		font-size: 15px
		line-height: 25px
		font-weight: 300
		cursor: pointer
		-ms-transition: color 0.3s
		-moz-transition: color 0.3s
		-webkit-transition: color 0.3s
		font-style: italic
		i
			position: absolute
			top: 0
			left: 0
			width: 23px
			height: 23px
			border: 1px solid $blue
			border-radius: 50%
			&:before, &:after
				content: ''
				position: absolute 
				top: 11px
				left: 3px
				width: 15px
				height: 1px
				background: $blue
			&:after
				top: 4px
				left: 10px
				width: 1px
				height: 15px
	dt:first-child
		margin-top: 0
	.active
		color: $blue
		pointer-events: none 
		i	
			&:after
				top: 0
				left: 0
				width: 0
				height: 0 
	dd
		position: relative
		display: none
		margin-top: 10px
		padding: 10px 20px
		border-radius: 10px
		background: $blue
		font-size: 14px
		line-height: 24px
		font-weight: 300
		color: #fff
		&:before
			content: ''
			position: absolute
			bottom: 100%
			left: 9px
			border-right: 4px solid transparent
			border-bottom: 4px solid $blue
			border-left: 4px solid transparent

.datePart
	div
		position: absolute
		font-weight: bold
		font-size: 14px
		top: 50px
		left: 15px 
		color: $main-gray
.pricePart
	div
		position: absolute
		font-weight: bold 
		font-size: 22px
		top: 46px
		left: 15px 


#language-select 
	position: absolute
	float: left
	margin-left: 6px
	border: 1px solid #b4b4b4
	border-radius: 5px
	line-height: 21px
	cursor: default
	top: 4px 
	ul
		position: absolute
		z-index: 100
		top: 100%
		left: 0
		display: none
		min-width: 92px
		overflow: hidden
		margin-top: 1px
		border-radius: 5px
		background: rgba(255,255,255,0.95)
		list-style: none
		li
			border-top: 1px solid #e2e2e2
			text-align: left
		li:first-child
			border-top: 0
		a
			padding: 2px 10px
			color: #535353
			&:hover
				background: #037cff 
				color: #fff
	a 
		display: block
		padding: 0 10px
		text-decoration: none
		color: #303E41
		-webkit-transition: background 0.3s, color 0.3s
	i
		display: block
		float: left
		margin-right: 5px
		font-size: 19px
		line-height: 23px
	&:hover
		ul
			display: block

// #page-header-bottom.down
// 	position: fixed
// 	z-index: 100
// 	top: 0
// 	left: 0
// 	width: 100%
// 	padding: 12px 0
// 	+transition-property(all)
// 	+transition-duration(0.2s)  

.page-header-bottom-holder 
	position: absolute
	height: 100px
	pointer-events: none
	transition: height 0.3s
	-ms-transition: height 0.3s
	-moz-transition: height 0.3s
	-webkit-transition: height 0.3s
// .page-header-bottom-holder.down
// 	position: static
// 	height: 70px

.scroll-top 
	position: fixed
	z-index: 9
	right: 10px
	bottom: 10px
	display: none
	width: 56px
	height: 56px
	border-radius: 5px
	background: #ccc
	font-size: 42px
	line-height: 54px
	text-align: center
	color: #fff
	&:hover
		background: #037cff 
		color: #fff 
.regLogDiv
	min-height: 280px 
#login
	width: 35%
	float: left
	position: relative
	margin-top: 15px
	.formDiv
		height: 212px
		width: 335px
		right: 5px
		top: 28px
		position: absolute
		border-top: 2px solid rgb(49, 129, 183)
	.getPassDiv
		border-bottom: 2px solid #3181b7
		margin-top: 3px
		height: 17px
	input 
		-webkit-box-shadow: 0 0 0px 1000px white inset !important
	.inputDiv
		border-bottom: 2px solid #D1D4D5
#register
	width: 61% 
	float: right
	margin-top: 15px
	.formDiv
		height: 212px
		width: 650px
		right: 5px
		top: 28px
		position: absolute
		border-top: 2px solid #DF244B
	input 
		-webkit-box-shadow: 0 0 0px 1000px white inset !important  
	.inputDiv
		border-bottom: 2px solid #D1D4D5
	.error_message
		margin-top: 10px
		line-height: 25px
		font-weight: bold
#register .title a, #login .title a
	text-transform: uppercase
	color: #7d7d7d
	font-size: 18px
	border-bottom: 2px solid #df1740
	font-family: "Andale Mono"
	padding: 0 5px 2px 5px

#login 
	.blue 
		a
			border-bottom: 2px solid #0a558a

ul.auth-services
	float: right
	li.auth-service
		margin: 0
		margin-right: 10px !important
		a.auth-link
			width: 30px
			height: 30px
			display: block
			background: #cecece
			color: #f8f8f8
			text-align: center
			font-size: 16px
			border-radius: 100%
			transition-duration: 0.5s
			&:hover
				background-color: #df1740
		span.auth-icon
			background-image: none 
			display: inline-block
			font-family: fontAwesome
			color: white
			height: 0
			margin-top: 8px
			margin-left: -1px
			i
				display: none !important
			&.google_oauth:before
				content: "\f1a0"
			&.facebook_oauth:before
				content: "\f09a"
			&.yandex_oauth
				background: url('../images/icons/icon-yandex.png') no-repeat !important	
				height: 20px
				width: 20px
				margin-top: 7px
				margin-left: 9px
			&.mailru_oauth
				background: url('../images/icons/1423246288_money@mail.png') no-repeat !important	
				height: 20px
				width: 20px
				margin-top: 7px
				margin-left: 7px 

.parrentDiv	
	width: 900px
	margin-left: auto
	margin-right: auto 
	input
		height: 35px !important
		line-height: 29px !important
		border: 1px solid transparent !important
		border-bottom: 1px solid #B1B6B7 !important
		box-shadow: none !important
		padding: 2px 6px
		height: 100%
		font-size: 14px
		outline: none
		&:focus 
			box-shadow: none !important
			border-bottom: 1px solid #798689 !important 

	.selectStyler-wrap
		.selectStyler-view
			height: 35px !important
			width: 100% !important
			border: 1px solid transparent !important 
			border-bottom: 1px solid $blue !important
			box-shadow: none !important
			color: $blue
			.selectArrow
				color: $blue !important 
			&:hover
				border-bottom: 1px solid $blue !important  
				&:after
					color: $blue !important
			button
				span  
					color: $blue !important	
					font-weight: 600
		.selectStyler-listWrap
			&:after
				color: $blue										



//add listing////////////////

#addListing-modal
	.modal-header
		h4.modal-title
			font-size: 24px
			color: $dark-gray
		.close
			margin-top: 3px
			font-size: 30px
.add-listing-category
	div
		font-size: 18px
		padding: 14px 30px
		color: $dark-gray
		border-top: 1px solid #D0D3D4
		cursor: pointer
		+transition-property(all)
		+transition-duration(0.2s)
		&:last-child
			+border-bottom-radius(6px)
		i
			color: $dark-gray
			margin-right: 30px
			width: 25px
			text-align: center
			margin-top: -2px
			+transition-property(all)
			+transition-duration(0.2s)
		&:hover
			i
				transform: scale(1.4) rotate(-45deg)
		&.red
			&:hover
				background: $red 
				border-top: 1px solid $red
				color: white
				i
					color: white
		&.yellow
			&:hover
				background: $yellow
				border-top: 1px solid $yellow
				color: white
				i
					color: white

		&.green
			&:hover
				background: $green
				border-top: 1px solid $green
				color: white
				i
					color: white
		&.blue
			&:hover
				background: $blue
				border-top: 1px solid $blue
				color: white
				i
					color: white
#map_update
	height: 300px
	border-radius: 18px
	margin-top: 10px
	margin-bottom: 10px 

#register
	.success_message
		div
			font-size: 13px
			margin-top: 10px 
.wrap
	width: 980px
	margin: auto
	padding: 30px 0
	line-height: 26px
	font-size: 16px

 
.item-description
	div#myTabContent
		border: 1px solid #DDD
		border-top: none
		padding-top: 10px
		ul
			li
				padding: 12px 18px
				&:nth-child(2n)  
					background: rgba(238, 240, 241, 1)
				span
					color: $dark-gray
					&:first-child
						font-weight: bold

				&:last-child
					background: #fff !important
					margin-top: 14px
					span
						line-height: 20px
						&:first-child
							display: block
							margin-bottom: 6px
							border-bottom: 1px solid $blue 
							padding-bottom: 7px
							color: $blue
							&:before
								content: "\f040"
								font-family: fontawesome 
								color: $blue
								margin-right: 5px

div.carousel
	.thumbnails 
		li
			border: 1px solid lighten($dark-gray, 65%)
			padding-bottom: 10px
			height: 254px
			cursor: pointer
			+transition-property(all)
			+transition-duration(0.3s) 
			.thumbnail
				margin-bottom: 10px !important	
				padding: 0 !important
				border: none !important
				.functional-buttons
					border-bottom: 1px solid lighten($dark-gray, 65%)
					border-top: 1px solid lighten($dark-gray, 65%)
					position: absolute
					bottom: -35px
					background: white
					width: 100%
					padding: 5px
					text-align: center
					+opacity(0)
					+transition-property(all)
					+transition-duration(0.3s) 
					a
						display: inline-block
						border-right: 1px solid #dddddd
						color: $gray
						padding: 0 10px
						font-size: 12px
						height: 23px
						line-height: 23px
						&:last-child
							border-right: none
						&:hover
							color: $dark-gray !important
						i
							font-size: 15px
			&:hover
				border: 1px solid lighten($dark-gray, 50%)
				.thumbnail
					.functional-buttons
						bottom: 0
						+opacity(1)
					img
						+opacity(0.8)

	.control-box
		a
			position: absolute !important
			top: 58px
			background: none !important
			display: inline-block !important
			font-size: 110px !important
			font-weight: normal !important
			line-height: inherit !important
			opacity: 0.8 !important
			padding: 0 !important
			height: 120px !important
			width: auto !important
			color: #E4E4E4 !important
			text-shadow: none !important 
			&.left
				left: 20px
			&.right
				right: 20px
			&:hover
				color: lighten($dark-gray, 50%) !important

.errorMessage
	margin-top: 8px
	color: $red
	font-size: 11px 

#profile-form, #change-password-modal, #login-modal 
	input 
		-webkit-box-shadow: 0 0 0px 1000px white inset !important
	.inputDiv
		border-bottom: 1px solid #D1D4D5
.profile-avatar-wrap
	border: none !important 
.hits
	#myTabContent
		border: none !important
		border-radius: 0px !important 
		.thumbnails
			li:first-child
				margin-left: 0px
			li 
				padding: 0px !important
				-moz-box-sizing: content-box
				-webkit-box-sizing: content-box
				box-sizing: content-box
				margin-left: 19px
				box-sizing: content-box
				float: left
				width: 230px !important
				height: auto !important
				.functional-buttons
					a:first-child
						margin-left: 25px
						float: left !important
						text-align: center
					a 
						float: left !important 
						text-align: center 
				.thumbnail
					height: 170px !important
				.caption
					height: 50px !important 
#global-list
	.view-back
		i
			&:hover
				color: $dark-gray
		a
			&:hover
				color: $dark-gray
				border: 2px solid $dark-gray 
	.yiiPager
		float: right
		li.selected
			a
				background-color: #F0EFEF
.empty
	font-style: italic !important

#global-list, #myTabContent, #myItemCarousel, #advertPageGalleria, #advert-gallery
	.activeFavorit
		color: #303E41 !important

#Car .custom-date-picker-input
	border: 1px solid transparent !important
	border-bottom: 1px solid #B1B6B7 !important
	box-shadow: none !important
	input
		padding: 2px 6px
		height: 100%
		&:focus
			box-shadow: none !important
			border-bottom: 1px solid #798689 !important 
	.inputStyler-view
		font-size: 14px

.mapArcax 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, homeMap)
		background-position: +sprite-position($icons, homeMap)
		position: absolute
		right: 68px
		top: 68px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s)
	&:hover
		.pulse
			display: block
			position: absolute
			right: 73px
			top: 190px
		&:after
			+opacity(1)
			top: 171px
	.pulse 
		display: none
		background: white
		border-radius: 50%
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg)
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1)
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2)
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

.mapSyunik 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, carMap)
		background-position: +sprite-position($icons, carMap)
		position: absolute
		right: 110px
		top: 68px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 115px
			top: 254px
		&:after
			+opacity(1)
			top: 235px
	.pulse
		display: none
		background: white
		border-radius: 50%
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

.mapVayocDzor 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, suitcaseMap)
		background-position: +sprite-position($icons, suitcaseMap)
		position: absolute
		right: 187px
		top: 68px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 193px
			top: 198px
		&:after
			+opacity(1)
			top: 178px
	.pulse
		display: none
		background: white
		border-radius: 50%
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

.mapGegharkunik 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, carMap)
		background-position: +sprite-position($icons, carMap)
		position: absolute
		right: 200px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 205px
			top: 120px
		&:after
			+opacity(1) 
			top: 102px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

.mapArarat 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, carMap)
		background-position: +sprite-position($icons, carMap)
		position: absolute
		right: 255px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 260px
			top: 173px
		&:after
			+opacity(1) 
			top: 155px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

.mapKotayq 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, compMap)
		background-position: +sprite-position($icons, compMap)
		position: absolute
		right: 267px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 272px
			top: 117px
		&:after
			+opacity(1) 
			top: 100px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

			 

.mapArmavir 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, suitcaseMap)
		background-position: +sprite-position($icons, suitcaseMap) 
		position: absolute
		right: 340px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 346px
			top: 145px
		&:after
			+opacity(1) 
			top: 128px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

.mapYerevan 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, homeMap)
		background-position: +sprite-position($icons, homeMap)
		position: absolute
		right: 287px
		top: 0px
		+opacity(0)
		+transition-property(all) 
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 292px
			top: 137px
		&:after
			+opacity(1) 
			top: 120px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg)

.mapAragatsotn 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, carMap)
		background-position: +sprite-position($icons, carMap) 
		position: absolute
		right: 323px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s) 
	&:hover
		.pulse
			display: block
			position: absolute
			right: 328px
			top: 106px
		&:after
			+opacity(1) 
			top: 89px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg) 

.mapShirak 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, compMap)
		background-position: +sprite-position($icons, compMap)
		position: absolute
		right: 355px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s)
	&:hover
		.pulse
			display: block
			position: absolute
			right: 360px
			top: 54px
		&:after
			+opacity(1) 
			top: 35px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg) 

.mapLori 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, suitcaseMap)
		background-position: +sprite-position($icons, suitcaseMap)
		position: absolute
		right: 295px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s)
	&:hover
		.pulse
			display: block
			position: absolute
			right: 300px
			top: 37px
		&:after
			+opacity(1) 
			top: 20px
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg) 

.mapTavush 
	&:after
		content: ''
		background: $icons
		display: inline-block
		+sprite-dimensions($icons, homeMap)
		background-position: +sprite-position($icons, homeMap)
		position: absolute
		right: 224px
		top: 0px
		+opacity(0)
		+transition-property(all)
		+transition-duration(0.5s)
	&:hover
		.pulse
			display: block
			position: absolute
			right: 229px
			top: 45px
		&:after
			+opacity(1) 
			top: 28px 
	.pulse 
		display: none
		background: white
		border-radius: 50% 
		height: 14px
		width: 14px
		margin: 11px 0px 0px -12px 
		transform: rotateX(55deg) 
		&:after
			content: ""
			border-radius: 50%
			height: 40px
			width: 40px
			position: absolute
			margin: -13px 0 0 -13px
			animation: pulsate 1s ease-out
			animation-iteration-count: infinite
			opacity: 0.0
			box-shadow: 0 0 1px 2px white
			animation-delay: 0.3s

	@keyframes pulsate
		0%
			transform: scale(0.1, 0.1) 
			opacity: 0.0
		50%
			opacity: 1.0
		100%
			transform: scale(1.2, 1.2) 
			opacity: 0

	@keyframes bounce
		0%
			opacity: 0
			transform: translateY(-2000px) rotate(-45deg)
		60%
			opacity: 1
			transform: translateY(30px) rotate(-45deg)
		80%
			transform: translateY(-10px) rotate(-45deg)
		100%
			transform: translateY(0) rotate(-45deg) 

.view-loading
	&:after
		content: ""
		position: absolute
		background: url('../images/placeholders/loading.gif') no-repeat center center rgba(255, 255, 255, 0.5)
		width: 100%
		height: 100%
		left: 0
		top: 0
		z-index: 1000

.aboutUsInfoDiv
	width: 850px
	left: 65px
	top: -26px
	position: relative
	border-top: 2px solid #3181b7
	padding-top: 20px

#contactInfoBlock
	width: 35%
	float: left
	position: relative
	margin-top: 15px
	.socialBlock
		padding-top: 10px
		border-top: 1px solid rgba(195, 189, 189, 0.8)
		span
			position: relative
			top: 7px
			margin-right: 15px
			float: left
			font-weight: bold
	.social
		li
			float: left
			margin-right: 10px
			a
				border-radius: 100%
				color: #2E3C3F
				border: 2px solid #2E3C3F
				width: 30px
				height: 30px
				text-align: center
				display: inline-block
				font-size: 16px
				padding: 6px
				+transition-property(all)
				+transition-duration(0.2s) 
				&:hover
					background: $blue
					color: white
					border: 2px solid $blue
	#infoDivContacts
		height: 212px
		width: 335px
		left: 65px
		top: -26px
		position: relative
		border-top: 2px solid #3181b7
		padding-top: 20px

#contactInfoFormBlock
	width: 61%
	float: right
	margin-top: 15px
	.formDiv 
		height: 212px
		width: 650px
		left: 65px
		top: -26px
		position: relative
		border-top: 2px solid #DF244B 
	textarea
		width: 100%
		height: 60px
		border: 1px solid rgba(207, 202, 202, 0.99)

#contactInfoFormBlock
	input 
		-webkit-box-shadow: 0 0 0px 1000px white inset !important
	.inputDiv
		border-bottom: 1px solid rgba(207, 202, 202, 0.99) 
.chackerBottom
	top: 0px !important