/* line 7, ../sass/home.sass */
.qq-upload-list > li {
  width: 112px !important;
  height: 112px !important;
}

/* line 11, ../sass/home.sass */
.qq-upload-file {
  width: 100px !important;
  height: 100px !important;
}

/* line 15, ../sass/home.sass */
#map_registration, #map_update {
  height: 300px;
  border-radius: 18px;
}
