@import "variables"
@import "compass"

.nav
	>li
		>a
			padding: 10px 14px !important
			color: lighten($gray, 15%)
			line-height: 22px !important

.tab-content
	border-top: none
	+border-bottom-radius(4px)


.form-control  
	border: none !important
	font-size: 12px !important
	color: #464645 !important 
	+box-shadow	(1px 1px 2px #dcdcdc inset !important)

 

hr
	margin-top: 10px !important
	margin-bottom: 10px !important 


.selectStyler-wrap.pagesize, .product-option
	.selectStyler-view 
		background-color: whitesmoke
		color: #c2c1bd !important

		div
			background: whitesmoke 

#visits-modal 
	.modal-footer
		height: 48px !important


a:focus
	text-decoration: none !important