@import "variables"

ul
	margin-bottom: 0 !important

a:hover
	text-decoration: none !important

input
	border: none
	background: none

.clear
	clear: both

.fr
	float: right !important  

.fl 
	float: left !important 


.tright 
	text-align: right

.pointer
	cursor: pointer

.tcenter
	text-align: center


.underline 
	text-decoration: underline !important


.rel 
	position: relative


.abs 
	position: absolute

.b0
	bottom: 0
.t0
	top: 0
.l0
	left: 0
.r0
	right: 0





.fix 
	position: fixed


.block
	display: block


.inline 
	display: inline-block


.bold 
	font-weight: bold

.fnormal
	font-weight: normal !important


.uppercase
	text-transform: uppercase


.m0
	margin: 0 !important
.mt0
	margin-top: 0 !important
.mt2
	margin-top: 2px !important
.mt5
	margin-top: 5px !important
.mt8
	margin-top: 8px !important
.mt10
	margin-top: 10px !important
.mt15
	margin-top: 15px !important
.mt20
	margin-top: 20px !important
.mt25
	margin-top: 25px !important
.mt30
	margin-top: 30px !important
.mt40
	margin-top: 40px !important 
.mt50
	margin-top: 50px !important
.mt53
	margin-top: 53px !important

.ml0
	margin-left: 0 !important 
.ml1
	margin-left: 1px !important
.ml5
	margin-left: 5px !important
.ml10
	margin-left: 10px !important
.ml15
	margin-left: 15px !important
.ml20
	margin-left: 20px !important
.ml30
	margin-left: 30px !important
.ml40
	margin-left: 40px !important
.ml50
	margin-left: 50px !important


.mt-3
	margin-top: -3px !important

.mt-5
	margin-top: -5px !important

.mt-16
	margin-top: -16px !important

.mr0
	margin-right: 0 !important
.mr3
	margin-right: 3px !important
.mr5
	margin-right: 5px !important
.mr8
	margin-right: 8px !important
.mr10
	margin-right: 10px !important
.mr15
	margin-right: 15px !important
.mr20
	margin-right: 20px !important
.mr25
	margin-right: 25px !important
.mr30
	margin-right: 30px !important
.mr50
	margin-right: 50px !important


.mb0
	margin-bottom: 0px !important
.mb2
	margin-bottom: 2px !important
.mb3
	margin-bottom: 3px !important
.mb5
	margin-bottom: 5px !important
.mb6
	margin-bottom: 6px !important
.mb8
	margin-bottom: 8px !important
.mb10
	margin-bottom: 10px !important
.mb15
	margin-bottom: 15px !important
.mb20
	margin-bottom: 20px !important
.mb25
	margin-bottom: 25px !important  
.mb30
	margin-bottom: 30px !important
.mb40
	margin-bottom: 40px !important
.mb50
	margin-bottom: 50px !important

.mb-5
	margin-bottom: -5px !important 

.p5
	padding: 5px !important
.p6
	padding: 6px !important
.p10
	padding: 10px !important
.p16
	padding: 16px !important
.p20
	padding: 20px !important
.pb0
	padding-bottom: 0px !important
.pb5
	padding-bottom: 5px !important
.pb10
	padding-bottom: 10px !important
.pb15
	padding-bottom: 15px !important
.pb20
	padding-bottom: 20px !important


.pt0
	padding-top: 0px !important
.pt2
	padding-top: 2px !important
.pt4
	padding-top: 4px !important
.pt5
	padding-top: 5px !important
.pt10
	padding-top: 10px !important

.p0
	padding: 0 !important
.pl0
	padding-left: 0 !important
.pl2
	padding-left: 2px !important 
.pl10
	padding-left: 10px !important
.pl15
	padding-left: 15px !important
.pl30
	padding-left: 30px !important

.pr0
	padding-right: 0 !important
.pr2
	padding-right: 2px !important
.pr10
	padding-right: 10px !important
.pr15
	padding-right: 15px !important
.pr30
	padding-right: 30px !important

.h100
	height: 100% !important
.h115
	height: 115px !important
.h150
	height: 150px !important
.h200
	height: 200px !important


.w60
	width: 60px !important
.w85
	width: 85px !important
.w100
	width: 100px !important
.w110
	width: 110px !important
.w125
	width: 125px !important
.w150
	width: 150px !important
.w180
	width: 180px !important
.w200
	width: 200px !important 
.w220
	width: 220px !important
.w240
	width: 240px !important
.w250
	width: 250px !important
.w280
	width: 280px !important
.w300
	width: 300px !important
.w340
	width: 340px !important
.w350
	width: 350px !important
.w400
	width: 400px !important
.w500
	width: 500px !important
.w600
	width: 600px !important
.w700
	width: 700px !important
.w800
	width: 800px !important
.w20p
	width: 20% !important
.w47p
	width: 47% !important
.w50p
	width: 50% !important
.w75p
	width: 75% !important
.w80p
	width: 80% !important 
.w85p
	width: 85% !important 
.w100p
	width: 100% !important

.border0
	border: none !important 
.bb
	border-bottom: 1px solid  $main-gray

.bb-blue
	border-bottom: 1px solid  $blue

.bt
	border-top: 1px solid $main-gray

.fsize11
	font-size: 11px !important

.fsize12
	font-size: 12px !important

.fsize13
	font-size: 13px !important

.fsize14
	font-size: 14px !important

.fsize16
	font-size: 16px !important

.fsize18
	font-size: 18px !important

.fsize20
	font-size: 20px !important

.fsize22
	font-size: 22px !important

.fsize28
	font-size: 28px !important

.fsize30
	font-size: 30px !important

.helvetica 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important
// colors

.c-red
	color: $red !important

.c-blue
	color: $blue !important

.c-green
	color: $green !important

.c-yellow
	color: $yellow !important

.c-white
	color: white !important

.c-gray
	color: $gray !important

.c-main-gray
	color: $main-gray !important

.c-lighten-gray
	color: $lighten-gray

.c-dark-gray
	color: $dark-gray

a.c-dark-gray
	color: $dark-gray
	&:hover
		color: lighten($dark-gray, 15%)

a.c-main-gray
	color: $main-gray
	&:hover
		color: $dark-gray !important

///////////////////////////////////////

.c-black
	color: black !important
// backgrounds

.bg-white
	background: white !important
.bg-red
	background: $red !important

.bg-blue
	background: $blue !important

.bg-green
	background: $green !important

.bg-lighten-gray
	background: $lighten-gray !important

.bg-main-gray
	background: $main-gray !important

/////////////////////////////////////////

.btn.bg-red
	&:hover
		background: lighten($red, 7%) !important

.btn.bg-blue
	&:hover
		background: lighten($blue, 7%) !important

.btn.bg-green
	&:hover
		background: lighten($green, 7%) !important

.btn.bg-lighten-gray, a.bg-lighten-gray
	&:hover
		background: darken($lighten-gray, 3%) !important



















