@import "variables"

=vgradient($from, $to)
	+background-image(linear-gradient($from, $to))

=hgradient($from, $to)
	+background-image(linear-gradient(left, $from, $to))

=title($bg: none, $pd: 0)
	color: #5f5f5f
	font-weight: bold
	background: $bg
	padding: $pd

=imgborder
	border: 5px solid #fff
	+box-shadow(#ccc 0 0 10px)
	margin: 2px

=img-overlay($bg, $opacity, $img: false)
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0 
	@if $img != false
		background-color: rgba($bg, $opacity)
		&:after
			content: image-url('icons/' + $img + '.png')
			position: absolute
			overflow: hidden
			left: 50%
			top: 50%
			margin-top: - image-height(sprite-file($icons, $img)) / 2
			margin-left: - image-width(sprite-file($icons, $img)) / 2
			display: block 
			+sprite-dimensions($icons, $img)
	@else
		background-color: rgba($bg, $opacity)



=arrow($point, $size, $color)
	$opposite: opposite-position($point)
	border: $size solid transparent
	border-#{$opposite}: $size solid $color
	border-#{$point}: 0
	height: 0
	width: 0

=shadow-offset($offset)
	$offset2: 2 * $offset 
	padding: $offset2
	margin: -$offset2
	padding-top: $offset2 + $offset