/* Carousel Control */
#myItemCarousel .control-box {
    text-align: right;
    width: 100%;
}
#myItemCarousel .carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 3px 27px 0 18px;
    position: static;
    height: 30px;
    width: 15px;
}

#myItemCarousel li{
    float: left;
    width: 295px;
    margin-left: 5px;
}

#myItemCarousel .carousel-inner{
    height: 280px;
}