#galleria-loader{height:1px!important}

.galleria-container{height:100%;position:relative;overflow:hidden;-moz-box-shadow:0 0 4px rgba(0,0,0,.1);-webkit-box-shadow:0 0 4px rgba(0,0,0,.1);}
.galleria-stage{bottom:5px;top:5px;right:5px;left:5px;position:absolute;overflow:hidden;}
.galleria-thumbnails-container{height:30px;width:100%;bottom:5px;position:absolute;left:0;z-index:2;}
.galleria-thumbnails-list{text-align:center;}
.galleria-thumbnails .galleria-image{display:inline-block;zoom:1; *display: inline;width:12px;height:12px;background:url(dot.png) no-repeat 0px 0;margin-right:5px;cursor:pointer;}
.galleria-thumbnails .active .img{}
.galleria-counter{font:normal 11px/18px arial,sans-serif;z-index:2;color:#444;margin-top:6px;margin-right:12px;float:left;}
.galleria-counter span{color:#888;}
.galleria-thumbnails .galleria-image:hover{opacity:1!important;}
.galleria-loader{background:#000 url(loader.gif) no-repeat 50% 50%;width:100%;height:100%;position:absolute;top:0;left:0;opacity:.3;z-index:3;display:none;}
.galleria-info{color:#666;z-index:3;text-align:center;font:italic 14px/1.4 georgia,serif;padding-top:10px;}
.galleria-counter{display:none;}
.galleria-info-close,
.galleria-info-link{display:none;}
.galleria-image-nav{position:absolute;height:100%;width:100%;left:0;top:0;}
.galleria-image-nav-left,
.galleria-image-nav-right{opacity:.4;cursor:pointer;width:50%;height:100%;position:absolute;background:url(l.png) no-repeat 7% 50%;z-index:2;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40);}
.galleria-image-nav-right{left:auto;right:0;background:url(r.png) no-repeat 93% 50%;z-index:2;}
.galleria-image-nav-left:hover,
.galleria-image-nav-right:hover{opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}