<meta charset="UTF-8">
<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js'></script>
<script src="js/index.js"></script>

<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css'>
<link rel="stylesheet" href="css/style.css">

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="carousel slide" id="myCarousel">
				<div class="carousel-inner">
					<!-- /Slide1 -->
					<div class="item active">
						<ul class="thumbnails">
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
						</ul>
					</div>
					<!-- /Slide2 -->
					<div class="item">
						<ul class="thumbnails">
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
						</ul>
					</div>
					<!-- /Slide3 --> 
					<div class="item">
						<ul class="thumbnails">
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
							<li class="span3">
								<div class="thumbnail">
									<a href="#">
										<img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">&raquo; Read More</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="control-box">
					<a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
					<a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
				</div>
			</div>
		</div>
	</div>
</div>