/* line 6, ../sass/custom-style.sass */
.nav > li > a {
  padding: 10px 14px !important;
  color: #d2d5d6;
  line-height: 22px !important;
}

/* line 11, ../sass/custom-style.sass */
.tab-content {
  border-top: none;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 16, ../sass/custom-style.sass */
.form-control {
  border: none !important;
  font-size: 12px !important;
  color: #464645 !important;
  -moz-box-shadow: 1px 1px 2px #dcdcdc inset !important;
  -webkit-box-shadow: 1px 1px 2px #dcdcdc inset !important;
  box-shadow: 1px 1px 2px #dcdcdc inset !important;
}

/* line 24, ../sass/custom-style.sass */
hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* line 30, ../sass/custom-style.sass */
.selectStyler-wrap.pagesize .selectStyler-view, .product-option .selectStyler-view {
  background-color: whitesmoke;
  color: #c2c1bd !important;
}
/* line 34, ../sass/custom-style.sass */
.selectStyler-wrap.pagesize .selectStyler-view div, .product-option .selectStyler-view div {
  background: whitesmoke;
}

/* line 38, ../sass/custom-style.sass */
#visits-modal .modal-footer {
  height: 48px !important;
}

/* line 42, ../sass/custom-style.sass */
a:focus {
  text-decoration: none !important;
}
