/* line 3, ../sass/custom-login.sass */
.login-box {
    width: 300px;
    position: absolute;
    left: 50%;
    padding: 40px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-left: -190px;
    margin-top: 50px;

    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

/* line 16, ../sass/custom-login.sass */
.login-box .logo {
    margin: 0;
    text-align: center;
}
