@import "compass"

.login-box
	width: 300px
	position: absolute
	left: 50%
	
	padding: 40px
	padding-bottom: 20px
	background-color: #f7f7f7
	+border-radius(2px)
	+box-shadow(0px 2px 2px rgba(0, 0, 0, 0.3))
	+box-sizing(content-box)
	margin-left: -190px
	margin-top: 50px

	.logo
		margin: 0
		text-align: center