@charset "utf-8"
@import "compass"
// @import "variables"

 
.qq-upload-list 
	> li
		width: 112px !important
		height: 112px !important

.qq-upload-file
	width: 100px !important
	height: 100px !important

#map_registration, #map_update
	height: 300px
	border-radius: 18px